<h3 class="person-name"><%= name %></h3>
<div class="item-list">
</div>
<div class="item add-item form-inline">
  <input type="text" class="item-name" />
  <input type="number" class="price item-price" />
  <div class="clearfix"></div>
  <button class="btn add-item-btn">Add</button>
  <div class="clearfix"></div>
</div>
<div class="receipt-bottom">
  <div class="item subtotal">
    <div class="price">
      0
    </div>
    <div class="btm-label">
      subtotal
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="item tax">
    <div class="price">
      0
    </div>
    <div class="btm-label">
      tax @ <span class="tax-percent">8.5</span>%
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="item gratuity">
    <div class="price">
      0
    </div>
    <div class="btm-label">
      gratuity @ <span class="gratuity-percent">20</span>%
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="item total">
    <div class="price">
      0
    </div>
    <div class="btm-label">
      TOTAL
    </div>
    <div class="clearfix"></div>
  </div>
</div>
</li>
